* {

  margin: 0px;
  padding: 0px;
  
}


body {
  font-size: 16px;
  color: #fff;
  background-color: #fff;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #61122f;
  border-radius: 0;
  border: 0;
  
}


.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Company Name */
  position: absolute;
  top: 0;
  left:0;
  text-align: left;
  font-family: 'Lora', serif;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin: 20px 25px 0px 25px;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand p span {
  vertical-align: middle;
}

#collapsable-nav a { /* Collapsed nav menu text */
  font-size: 1.2em;
}
#collapsable-nav a span { /* Collapsed nav menu glyph */
  font-size: 1em;
  margin-right: 5px;
}

#nav-list {
  background-color: #370114;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  
}
#nav-list a {
  color: #ffffff;
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;

}
#nav-list a:hover {
  background: #1d0c0a;
}
#nav-list a span {
  font-size: 1.8em;

}



.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #fff;
  background-color: #951C49;
  margin-bottom: 0;
 
}
.navbar-header button.navbar-toggle {
  position: absolute;
  margin-top: 20px;
  top: 0;
  right: 0;
}
/* END HEADER */

.text-center {
  margin-bottom: 30px;
  font-family: 'Oxygen', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #000;
}

#chicken-tile, #beef-tile, #sushi-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  background-color: #222;
  overflow: hidden;
  opacity: .9;
}
#chicken-tile:hover, #beef-tile:hover, #sushi-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc ;
}
#chicken-tile {

  background-position: center;
}
#beef-tile {
  background-position: center;
}

#sushi-tile {
  background-position: center;
}

#chicken-tile span, #beef-tile span, #sushi-tile span {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  font-weight: bold;
  color: #fff;
  opacity: .8;
}

#beef-tile span > p{
  position: absolute;
  text-align: center;
  font-size: .8em;
  font-weight: bold;
  color: #fff;
}

#sushi-tile span > p{
  position: relative;
  text-align: center;
  font-size: .8em;
  font-weight: bold;
  color: #fff;
}

section {
    
  padding: 40px 20px 20px 20px;
  font-family: sans-serif;
  text-transform: lowercase;
  color: #fff;

}



/* END HOME PAGE */


/********** Large devices only **********/
@media (min-width: 1200px) {
  .container {
    height: 70px;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

  /* Home Page */
  .container {
    height: 70px;
  }
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  .container {
    height: 70px;
  }
  /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding: 10px;
  }
  .navbar-brand h1 { /* Company Name */
    padding: 10px;
    font-size: 4vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /*  */
    color: #000;
    font-size: .7em;
    margin-top: 12px;
    height: 20px;
  }
  
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;

  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
   
  }

  #chicken-tile, #beef-tile, #sushi-tile{
    width: 360px;
    margin: 0 auto 15px;
    
  }

  

  /* End Header */


  /* Home Page */
  .container {
    margin-top: 30px;
    padding: 0;
  }
  #chicken-tile, #beef-tile, #sushi-tile {
    width: 360px;
    margin: 0 auto 15px;
  }

}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Company Name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  
  /* Home page */
  #chicken-tile, #beef-tile, #sushi-tile {
    width: 280px;
    margin: 0 auto 15px;
    padding: 0;
  }

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
    float: left;
    width: 100%;
  }
}



